/Back/MediaServices/web/WEB-INF
 glassfish-resources.xml
/Back/MediaServices/nbproject/private/
/Back/MediaServices/dist/
/Back/MediaServices/build/
/Back/LoginTest/nbproject/private/
/Back/LoginTest/build/
/Back/LoginTest/dist/
/Back/testApp/nbproject/private/
/Back/testApp/build/
/Back/testApp/dist/