body{
    margin:0;
    padding: 0;
    background-color: #524B3E;
    font-family: sans-serif;
}
.uploadBox{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding:2.5em 2.5em;
    box-sizing: border-box;
    border-radius: 1em;
    background: rgba(0, 0, 0,.5);
}
.center{
    width: 6.25em;
    height: 6.25em;
    border-radius: 50%;
    overflow: hidden;
    position:absolute;
    top: calc(-6.25em/2);
    left: calc(50%-3.125em);
}
h2{
    margin:0;
    padding:0 0 1.25em;
    color: #16D3DC;
    text-align: center;
    font-family: sans-serif;
}
.rowBox{
    margin:0;
    padding:0;
    font-weight: bold;
    color: #FFFFFF;

}
.rowBox input{
    width: 100%;
    margin-bottom: 1.25em;
    font-family: sans-serif;
}
.rowBox input[type="text"]
.rowBox input[type="file"]{
    border:none;
    padding-top: 1em;
    border-bottom: 1px solid #FFFFFF;
    background: transparent;
    outline:none;
    height:2.5em;
    color: #FFFFFF;
    font-size: 1em;
    font-family: sans-serif;
}
::placeholder
{
    color: rgba(255, 255, 255,.5);
}
.rowBox button {
    border:none;
    outline:none;
    height: 2.5em;
    width:5em;
    color: #FFFFFF;
    font-size: 1em;
    background: #16D3DC;
    cursor: pointer;
    border-radius: 1.25em;
    font-family: sans-serif;
}
.rowBox button:hover {
    background: #C7C6C3;
    color:#262626;
}
.rowBox a{
    color:#FFFFFF;
    font-size: 0.875em;
    font-weight:bold;
    text-decoration:none;
}
@media screen and (min-width: 600px){
    .container {
        text-align: center;
    }

    .container img {
        margin: auto;
        float: none;
        display: block;
    }
}
