* {
    margin: 0;
    padding: 0;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;

}
h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #16D3DC;
    text-align: center;
    font-family: sans-serif;

}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color: #C7C6C3;

}
nav {

    display: flex;
    width: 100%;
    background-color: #292b2d;
    height: 5em;
    align-items: center;
    justify-content: space-between;
}

.buttonContainer {
    display: flex;
    align-content: center;
    width: 25%;
}

.buttonContainer a {

    width: 25%;
    margin: auto;

}

#logo {

    width: 15%;
    background-color: blue;
}

.searchFormContainer {
    width: 60%;
}

.searchForm {
    width: 50%;
    max-width: 400px;
    margin: auto;
}

.searchForm input {
    border-radius: 5px;
    width:100%;
}
.blueButton {

    font-family: sans-serif;
    text-align: center;
    border-radius: 1em;
    height: 2.5em;
    width: 7em;
    border: none;
    outline: none;
    float: left;
    margin:0.5em;
}
/*Colors for the buttons*/

.white {
    color: #FFFF;
}
.brightBlueBackground {
    background: #16D3DC;
}
.blueButton:hover {
    background: #C7C6C3;
    color:#262626;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Customisation for the wrapper around the page and video.
 * Customs for making the video responsive.
 *
 */

/*body,
.mainContainer{
    height: 100%; not necessary
    background-color: darkgrey;
    background-image:
        linear-gradient(
            to top right,
            grey, white
        );
}
*/
.wrapper{
    margin: 0 auto;
    width:80%;
}
.MainVideoBox{
    position:relative;
    padding-bottom: 56.25%;
    padding-top: 1.5625em;
    height: 0em;
}
.MainVideoBox video{
    position: absolute;
    left: 0em;
    top:0em;
    right: 0em;
    bottom:0em;
    height:100%;
    width:100%;
}
.Texts{
    position: relative;
    left: 0em;
    top:0em;
    right: 0em;
    bottom:0em;
    height:100%;
    width:100%;
}

.videoTitle {
    padding-top: 1em;
    width: 100%;
    height: 3em;
    overflow: hidden;
}
.videoPublisher{
    width:50%;
    height: 1em;
}
.thumbs {
    display:flex;
    flex-direction:row;
}
.thumbUp{
    padding: 0.5em;
    width: 2em;
    height: auto;

}
.thumbDown{
    padding: 0.5em;
    width: 2em;
    height: auto;

}



/* Styling of the comments:
*Style the container with a rounded border, grey background and some padding and margin
*/
.mainContainer {
    background-color: #C7C6C3;
}
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 1.5em;
    padding: 1em;
    margin: 1em 0;
    font-family: sans-serif;
}

/* Clear floats after containers */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
    float: left;
    margin-right: 1.25em;
    border-radius: 50%;
}

/* Increase the font-size of a span element */
.container span {
    font-size: 1.25em;
    margin-right: 0.9375em;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3,
    h4{
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4{
        page-break-after: avoid;
    }
}
/*Media Queries to make the nav bar responsive*/

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: relative;
    }
}
.nav.responsive button,
.nav.responsive a {
    position: absolute;
    right: 0;
    top: 0;
    height: 50%;
    width: 50%;
}


