/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
}
h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #16D3DC;
    text-align: center;
    font-family: sans-serif;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background-color: #C7C6C3;
}
   nav {

     display: flex;
     background-color: #292b2d;
     height: 5em;
     align-items: center;
     justify-content: space-between;
   }

   .buttonContainer {
     display: flex;
     align-content: center;
     width: 25%;
   }

   .buttonContainer a {

     width: 25%;
     margin: auto;

   }

   #logo {

     width: 15%;
     background-color: blue;
   }

   .searchFormContainer {
     width: 60%;
   }

   .searchForm {
     width: 50%;
     max-width: 400px;
     margin: auto;
   }

   .searchForm input {
      border-radius: 5px;
      width:100%;
   }

   main {
     display: flex;
     align-content: space-around;
     flex-flow: row;
     justify-content: center;
   }

   .videoContainer {
     display: flex;
     flex-flow: column;
     padding: 2em;
   }

   .videoBox {

     width: 15em;
     border: 1px solid black;
     align-content: center;
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 1em;
   }
   .MainVideoBox {
       width: 40em;
       align-content: center;
       display: flex;
       flex-wrap: wrap;
       margin-bottom: 1em;
   }

   .thumbContainer {
     position: relative;
   }

   .thumbLink:hover .playIcon{
     visibility: visible;
   }

   .thumb {
     width: 100%;
     height: 200px;
   }

   .playIcon {
     position: absolute;
     visibility: hidden;
     height: 130px;
     width: 130px;
     top: 2em;
     left: 3.8em;

   }
   .thumbUp{
    padding: 0.5em;
   }
   .thumbDown{
    padding: 0.5em;
}

   .videoInfo {
     width: 20%;
   }

   .videoTitle {
     width: 100%;
     height: 3em;
     overflow: hidden;
   }
   .videoPublisher{
       width:50%;
       height: 1em;
   }

   .loginPage {
     display: flex;
     align-content: center;
     justify-content: center;
     background-color: #524B3E;
     background-repeat: no-repeat;
     background-size: auto;
     background-position: center;

   }
   .loginContainer {
       position: absolute;
       top: 50%;
       left:50%;
       transform: translate(-50%,-50%);
       width: 350px;
       height: 420px;
       padding:40px 40px;
       box-sizing: border-box;
       border-radius: 15px;
       background: rgba(0, 0, 0,.5);
   }
   .loginContainer input {
       border:none;
       padding-top: 16px;
       border-bottom: 1px solid #FFFFFF;
       background: transparent;
       outline:none;
       height:40px;
       color: #FFFFFF;
       font-size: 16px;
       font-family: sans-serif;
   }

   .centeredText {
     text-align: center;
   }

   .loginContainer input[type=password] {
       width: 60%;
       color:#FFFFFF;
       font-size:14px;
       font-weight:bold;
       text-decoration:none;
   }

   .loginContainer input[type=submit] {
       border:none;
       outline:none;
       height:40px;
       width:80px;
       color: #FFFFFF;
       font-size: 16px;
       background: #16D3DC;
       cursor: pointer;
       border-radius: 16px;
       font-family: sans-serif;
       margin-left: 60%;
   }
    .loginContainer input[type=submit]:hover {
        background: #C7C6C3;
        color: #262626;
    }

    .upload{
       position: absolute;
       top:50%;
       left: 50%;
       width: 400px;}


/* ============================================================================
    Universal color and size classes
  =============================================================================
*/

.white {
  color: #FFFF;
}

.big {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 3em;
}

.small {
  font-size: 13px;
}

.warningRed {
  border: 0.5px solid red;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3,
    h4{
        orphans: 3;
        widows: 3;
    }

    h2,
    h3,
    h4{
        page-break-after: avoid;
    }
}
